{% extends "base.html" %}

{% load static %}

{% block content %}
   <!-- Content Section -->
   <main>
    <section>
        <div class="container">
            <!--Search Bar -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class ="col">
                                <input type="Search" name="user_posts." placeholder="Search for Posts !" class ="form-control form-control-borderless">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User Posts-->
            <div class="row d-flex flex-row">
                {% for post in user_posts %}
                  <div class="col-md-4">
                    <div class="card">
                      <img src="{{ post.placeholder_image }}" alt="Placeholder till Cloudinary" class="card-img-top">
                      <div class="card-body">
                        <h2 class="card-title">
                          {{ post.title }}</h2>
                          {{ post.content }} 
                        <p class="card-text">
                          €{{ post.price }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
        </div> 
    </main>          
{% endblock %}